@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300;400;500&display=swap');

* {
  box-sizing: border-box;
}

:root {
  font-family: "Kiwi Maru", serif;
  line-height: 1.5;
  font-weight: 400;

  --color-primary: #5DD3B6;
  --color-dark: #6E5034;
  --color-secondary: #CDB885;
  --color-light: #EFE1B5;

  --color-text-primary: #6E5034;
  --color-text-secondary: #6E5034;
  --color-bg-main: #F8F6F0;

  color: var(--color-text-primary);
  background-color: var(--color-bg-main);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: 1.2;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
}
